# ignore specific files
*.jpg
*.log
sftp-config.json
*.log
log

#ignore launcher
photobooth.sh
start.sh
configuration.json
client_id.json
credentials.dat
google_credentials.dat
*.dat

photos/*.jpg
photos/*.gif

# ignore log and animation frames
run.log
scripts/animframe*.*


# ignore compiled python files
scripts/*.pyc

# ignore emacs backupfiles
scripts/*.py~

# ignore test image
scripts/test_image.png

# ignore thumnail generation
scripts/assets/effects/new_thumbs/
scripts/assets/effects/effects_snaps/

# ignore sendmail log
sendmail.log